{% extends 'base.html' %}
{% block content %}
    <h2>Register</h2>
    <form action="/accounts/register/" method="post">
        {% csrf_token %}
        <label name="first_name">First Name:</label> <br />
        {{ form.first_name }} <br />
        <label name="last_name">Last Name:</label> <br />
        {{ form.last_name }} <br />
        <label name="email">Email:</label> <br />
        {{ form.email }} <br />
        <label name="username">Username:</label> <br />
        {{ form.username }} <br />
        <label name="password1">Password:</label> <br />
        {{ form.password1 }} <br />
        <label name="password2">Confirm Password:</label> <br />
        {{ form.password2 }} <br /> <br />
        <input type="submit" value="Register" />
    </form>
{% endblock %}